<h2>
  Routes
</h2>
<p>
  Routes match in priority from top to bottom
</p>

<div id="search-field">
  <%= form_tag '/rails/routes' do %>
    <%= search_field(nil, :term, :autofocus => true, :autocomplete => false) %>
    <%= submit_tag "Submit" %>
  <% end %>
</div>
<div id="search-term">
  <% if params[:term].present? %>
    showing results for: <strong><%= params[:term] %></strong><br>
    <%= link_to "See all", "/rails/routes" %>
  <% end %>
</div>

<%= render layout: "route_wrapper" do  %>
  <%= render partial: "route", collection: @routes %>
<% end %>